.settings_tab .tab[data-key="escodoo_budget_simulator"] .icon {
    display: block !important;
    min-width: 1.5rem;
    min-height: 1.5rem;
    background-image: url("/escodoo_budget_simulator/static/description/icon.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}
